<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="icons.html">
<!--
Element providing solution to no problem in particular.

##### Example

    <dominoes-tile left="6" right="0"></dominoes-tile>

@element seed-element
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://polymerlabs.github.io/seed-element
-->
<polymer-element name="dominoes-tile" attributes="left right" constructor="DominoesTile">
    <template>
        <style>
            :host {
                color: black;
                background-color: white;
                
                display: inline-block;
                position: relative;
                width: 80px;
                height: 40px;
                border-radius: 5px;
/*                margin-bottom: 20px;  TODO */
                border: 1px solid black;
                border-bottom-width: 4px;
                border-right-width: 4px;
            }
            
            .separator {
                  margin: auto;
                  position: absolute;
                  top: 0; left: 0; bottom: 0; right: 0;
                
                display: block;
                width: 2px;
                height: 75%;
                background-color: black;
            }
            
            :host.vertical {
                -webkit-transform: rotate(90deg);
            }

            .left, .right {
/*
                line-height: 40px;
                font-size: 20px;
*/
/*                text-align: center;*/
                display: block;
                width: 40px;
                height: 40px;
                position: absolute;
            }
            
            .right {
                left: 40px;
            }
            
        </style>
        <core-icon class="left" icon="dominoes:dot-{{left}}" alt="{{left}}"></core-icon>
<!--        <div class="left {{left}}">{{left}}</div>  -->
        <div class="separator"></div>
        <core-icon class="right" icon="dominoes:dot-{{right}}" alt="{{right}}"></core-icon>
    </template>
    <script>

    Polymer('dominoes-tile', {
        /**
        * The `author` attribute sets an initial author
        * 
        * @attribute left
        * @type int
        * @default 0
        */
        left: 0,

        /**
        * `fancy` is a property that does something fancy.
        * 
        * @property right
        * @type int
        * @default 0
        */
        right: 0,
        value: 0,

        ready: function() {
            this.value = this.left + this.right;
        },

        /**
        * The `sayHello` method will return a greeting.
        * 
        * @method sayHello
        * @param {String} greeting Pass in a specific greeting.
        * @return {String} Returns a string greeting.
        */
        reverse: function() {
            this.left = this.right;
            this.right = this.value - this.left;
            return this;
        },
        
        contains: function(number) {
            return number == this.left || number == this.right;
        },        
        

      /**
       * The `seed-element-lasers-success` event is fired whenever we
       * call fireLasers.
       * 
       * @event seed-element-lasers-success
       * @param {Object} detail
       *   @param {string} detail.sound An amazing sound.
       */

      /**
       * The `fireLasers` method will fire the lasers. At least
       * it will dispatch an event that claims lasers were fired :)
       * 
       * @method fireLasers
       */
      fireLasers: function() {
        this.fire('seed-element-lasers-success', { sound: 'Pew pew pew!' });
      }

    });

  </script>

</polymer-element>
