<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="dominoes-tile.html">
<!--
Element providing solution to no problem in particular.

##### Example

    <seed-element></seed-element>

@element seed-element
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://polymerlabs.github.io/seed-element
-->
<polymer-element name="dominoes-board" attributes="tiles root" constructor="DominoesBoard">
    <template>
        <style>
            :host {
                position:relative;
            }
            
            dominoes-tile {
                position: absolute;
                margin-left: -40px;
                margin-top:-20px;
            }
            
            #tile0 {top: 50%;left: calc(50% + 0*80px);}
            #tile1 {top: 50%;left: calc(50% + 80px);}
            #tile2 {top: 50%;left: calc(50% + 2*80px);}
            #tile3 {top: 50%;left: calc(50% + 3*80px);}
            
        </style>
        <template repeat="{{tile,i in tiles}}">
            <dominoes-tile id="tile{{i}}" left="{{tile.left}}" right="{{tile.right}}"></dominoes-tile>
        </template>
    </template>
    <script>

    Polymer('dominoes-board', {
        /**
        * The `author` attribute sets an initial author
        * 
        * @attribute tiles
        * @type list
        * @default []
        */
        tiles: [],
        
        get length() {
            return this.tiles.length;
        },
        
        get leftmost() {
            if(this.length)
                return this.tiles[0].left
            else
                return null;
        },
        
        get rightmost() {
            if(this.length)
                return this.tiles[-1].right
            else
                return null;
        },
        
//        ready: function() {
//            root 
//        },

        /**
        * The `sayHello` method will return a greeting.
        * 
        * @method sayHello
        * @param {String} greeting Pass in a specific greeting.
        * @return {String} Returns a string greeting.
        */
        move: function(movement) {
            if (movement.side == 'left') {
                if (this.leftmost == movement.tile.right) {
                    this.tiles.unshift(tile);
                } else if (this.leftmost == movement.tile.left) {
                    movement.tile.reverse();
                    this.tiles.unshift(tile);
                } else {
                    //TODO throw exception
                }       
            } else if (movement.side == 'right') {
                if (this.rightmost == movement.tile.left) {
                    this.tiles.push(tile);
                } else if (this.rightmost == movement.tile.right) {
                    movement.tile.reverse();
                    this.tiles.push(tile);
                } else {
                    //TODO throw exception
                }                  
            } else {
                //TODO throw exception
            }
            console.log(movement + " played at board.")
        },
        
        isPlayable: function(tile) {
            return this.leftmost == tile.left 
                || this.leftmost == tile.right 
                || this.rightmost == tile.left
                || this.rightmost == tile.right;
        },

      /**
       * The `seed-element-lasers-success` event is fired whenever we
       * call fireLasers.
       * 
       * @event seed-element-lasers-success
       * @param {Object} detail
       *   @param {string} detail.sound An amazing sound.
       */

      /**
       * The `fireLasers` method will fire the lasers. At least
       * it will dispatch an event that claims lasers were fired :)
       * 
       * @method fireLasers
       */
      fireLasers: function() {
        this.fire('seed-element-lasers-success', { sound: 'Pew pew pew!' });
      }

    });

  </script>

</polymer-element>
