<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-iconset-svg/core-iconset-svg.html">
<core-iconset-svg id="dominoes" iconSize="100">
<svg><defs>
    <g id="dot-0"></g>
    <g id="dot-1">
        <circle cx="50" cy="50" r="10" />
    </g>
    <g id="dot-2">
        <circle cx="25" cy="25" r="10" />
        <circle cx="75" cy="75" r="10" />
    </g>
    <g id="dot-3">        
        <circle cx="25" cy="25" r="10" />
        <circle cx="50" cy="50" r="10" />
        <circle cx="75" cy="75" r="10" />
    </g>
    <g id="dot-4">        
        <circle cx="25" cy="25" r="10" />
        <circle cx="25" cy="75" r="10" />
        <circle cx="75" cy="75" r="10" />
        <circle cx="75" cy="25" r="10" />
    </g>
    <g id="dot-5">
        <circle cx="50" cy="50" r="10" />
        <circle cx="25" cy="25" r="10" />
        <circle cx="25" cy="75" r="10" />
        <circle cx="75" cy="75" r="10" />
        <circle cx="75" cy="25" r="10" />
    </g>
    <g id="dot-6">        
        <circle cx="25" cy="25" r="10" />
        <circle cx="50" cy="25" r="10" />
        <circle cx="75" cy="25" r="10" />
        <circle cx="25" cy="75" r="10" />
        <circle cx="50" cy="75" r="10" />
        <circle cx="75" cy="75" r="10" />
    </g>   
    <g id="dot-7">
        <circle cx="25" cy="25" r="10" />
        <circle cx="50" cy="25" r="10" />
        <circle cx="75" cy="25" r="10" />
        <circle cx="50" cy="50" r="10" />
        <circle cx="25" cy="75" r="10" />
        <circle cx="50" cy="75" r="10" />
        <circle cx="75" cy="75" r="10" />
    </g>
    <g id="dot-8">
        <circle cx="25" cy="25" r="10" />
        <circle cx="50" cy="25" r="10" />
        <circle cx="75" cy="25" r="10" />
        <circle cx="25" cy="50" r="10" />
        <circle cx="75" cy="50" r="10" />
        <circle cx="25" cy="75" r="10" />
        <circle cx="50" cy="75" r="10" />
        <circle cx="75" cy="75" r="10" />
    </g>
    <g id="dot-9">
        <circle cx="25" cy="25" r="10" />
        <circle cx="50" cy="25" r="10" />
        <circle cx="75" cy="25" r="10" />
        <circle cx="25" cy="50" r="10" />
        <circle cx="50" cy="50" r="10" />
        <circle cx="75" cy="50" r="10" />
        <circle cx="25" cy="75" r="10" />
        <circle cx="50" cy="75" r="10" />
        <circle cx="75" cy="75" r="10" />
    </g> 
</defs></svg>
</core-iconset-svg>
