!!!
%html
    %head
        %meta(charset="utf-8")
        %title DominoBase
        %meta(name="description" content="bla bla bla.")
        %meta(name="viewport" content="width=device-width")
        %link(rel="shortcut icon" href="favicon.ico")

        <!-- build:css(.tmp) styles/main.css -->
        %link(href="styles/main.css" media="screen, projection" rel="stylesheet" type="text/css")
        <!-- endbuild -->

        %script(src="../bower_components/platform/platform.js")

        %link(href="../bower_components/font-roboto/roboto.html" rel="import")
        %link(href="../bower_components/dominobase-elements/dominobase-datasource.html" rel="import")
        %link(href="../bower_components/dominobase-elements/dominobase-app.html" rel="import")

    %body(fullbleed=true)
        %template(is='auto-binding')
            %dominobase-datasource(user="{{user}}")
            %dominobase-app(fit=true user="{{user}}" touch-action="auto")
